# Editors
.idea/*
!.idea/fileTemplates

# Dependencies
/vendor/
/composer.lock

# Build/coverage
/build

# Cache
.php_cs.cache
**/.phpunit.result.cache

# Temporary
tmp/

# Misc
.DS_Store
/*.log
*.swp
